// Import the typography styles.
//
// MDC Typography
//
@use "@material/typography/mdc-typography";
@use "@material/typography/index" as typography;

:root {
  --mdc-typography-font-family: "M PLUS 1p";
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  padding: 30px;
}

html {
  @include typography.typography("body1");
}

.mdc-deprecated-list-item__text {
  transform: rotate(0.03deg);
}

.mdc-button__label {
  transform: rotate(0.03deg);
}

p {
  transform: rotate(0.03deg);
}

h1 {
  @include typography.typography("headline1");
  transform: rotate(0.03deg);
}

h2 {
  @include typography.typography("headline2");
  transform: rotate(0.03deg);
}

h3 {
  @include typography.typography("headline3");
  transform: rotate(0.03deg);
}

h4 {
  @include typography.typography("headline4");
  transform: rotate(0.03deg);
}

h5 {
  @include typography.typography("headline5");
  transform: rotate(0.03deg);
}

h6 {
  @include typography.typography("headline6");
  transform: rotate(0.03deg);
}

caption {
  @include typography.typography("caption");
  transform: rotate(0.03deg);
}

code,
pre {
  font-family: "Roboto Mono", monospace;
  transform: rotate(0.03deg);
}

small {
  font-size: 0.9em;
  transform: rotate(0.03deg);
}

big {
  font-size: 1.1em;
  transform: rotate(0.03deg);
}

b,
strong {
  font-weight: bold;
  transform: rotate(0.03deg);
}
